[submodule "course_management"]
	path = course_management
	url = https://github.com/shakhawatsabbir/course_management.git
[submodule "my_portfolio"]
	path = my_portfolio
	url = https://github.com/shakhawatsabbir/my_portfolio.git
